.container {
    text-align: center;
    margin-top: 50px;
}

.image-container {
    position: relative;
    display: inline-block;
}
.interactive-image{
    max-width: 100%;
}
#submit-btn {
    margin-top: 20px;
}
#list{
    position: relative;
    list-style: none;
}
#list > .list_item{
    position: absolute;
    z-index: 10;
}
.img_item{
    cursor: pointer;
}
.item_1{
    top: 90%;
    left: 20%;
    transform: rotate(50deg);
}
.item_2{
    top: 25%;
    left: 25%;
}
.item_3{
    top: 30%;
    left: 30%;
}
.item_4{
    top: 35%;
    left: 35%;
}
.item_5{
    top: 40%;
    left: 40%;
}
.item_6{
    top: 45%;
    left: 45%;
}
.item_7{
    top: 53%;
    left: 50%;
}
.item_8{
    top: 48%;
    left: 55%;
    transform: rotate(-50deg);
}
.item_9{
    top: 60%;
    left: 60%;
}
.item_10{
    top: 10%;
    left: 65%;
}