html{
    font-size: 62.5%
}
@media only screen and (max-width: 600px){
    html{
        font-size: 56.25%;
    }
}
@media only screen and (max-width: 900px){
    html{
        font-size: 50%
    }
}
@media only screen and (max-width: 1240px){
    html{
        font-size: 30%
    }
}
@media only screen and (min-width: 1800px){
    html{
        font-size: 75%
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label{
    display: block;
    margin-bottom: 8px;
    font-size: 3rem;
}
.required{
    color: red;
}
.container {
    text-align: center;
    margin-top: 50px;
}
h1{
    font-size: 4rem;
}
.image-container {
    position: relative;
    display: inline-block;
}
.interactive-image{
    width: 100%;
    height: auto;
}
#submit-btn {
    margin-top: 20px;
}
#list{
    position: relative;
    list-style: none;
    padding: 0;
}
.list_item{
    position: absolute;
    opacity: 0;
    transition: opacity .4s ease;
    z-index: 10;
}
.img_item{
    cursor: pointer;
    width: 2.6rem;
}
.item_1{
    top: 91%;
    left: 12%;
    transform: rotate(50deg);
}
.item_2{
    top: 25%;
    left: 25%;
}
.item_3{
    top: 57%;
    left: 28%;
}
.item_4{
    top: 39%;
    left: 32%;
}
.item_5{
    top: 40%;
    left: 40%;
}
.item_6{
    top: 48%;
    left: 41%;
}
.item_7{
    top: 48%;
    left: 51%;
}
.item_8{
    top: 48%;
    left: 55%;
    transform: rotate(-50deg);
}
.item_10{
    top: 10%;
    left: 65%;
}